.calendar {
    font-family: Arial, Verdana, Sans-serif;
}

.calendar tbody tr:first-child th {
    color: #E00;
}

.day_header {
    font-weight: normal;
    text-align: center;
    color: #757575;
    font-size: 10px;
    
}

.calendar td {
    width: 9%; 
    border:0px solid #CCC;
}
/**
.calendar td:hover {
    background: #CCC;
    
    }
**/
    
.day_listing  {
    display: block;
    text-align: center;
    font-size: 13px;
    color: #2C2C2C;
    
}
.day_listing a  {
    text-decoration: none;
    
}

.day_listing a:hover  {
    color: #E00;
    
    
}
.today {
    font-weight: bold;
    border: #000 1px solid;
}

