    .headerInfo {
	position: absolute;
	width: 200px;
	height: 0px;
	z-index: 1;
	left: 75%;
	top: 30px;
	font-family:"Lucida Console", Monaco, monospace;
	font-size:12px;
	color:#EEE;
}
.headerInfo a {
	color:#EEE;
}
.headerInfo a:hover {
	color:#E00;
}
.iconesPrincipal a:hover {
	color:#E00;
}

    #logo {
	position: absolute;
	width: 149px;
	height: 81px;
	z-index: 2;
	left: 1%;
	top: 1%;
}

.pesquisaDinamica tr.alt:hover{
       background: #bbb;

}

.listaAgendamento tr.alt:hover{
    background: #bbb;
}
